<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Immobiliare Crawler Control Panel</title>
 
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <!-- <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li> -->
                </ul>
            </nav>
            <h3 class="text-muted">Crawler immobiliare</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Immobiliare Crawler</h1>
            <p class="lead"></p>
            <p>
                <!-- <a class="btn btn-lg btn-success" href="showSignUp" role="button">Scrape now</a> -->
                <a class="btn btn-primary" href="scrapeNow" role="button">Scrape now</a>
            </p>
            <p>
                <a class="btn btn-secondary" href="https://docs.google.com/spreadsheets/d/1U5hSTpRVXh-LHPW-b2rVAkzq66kcodCrTywG12IMVMM/" role="button">Go to GSheet</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Mapped Zones</h4>
                <p>105</p>
 
                <h4>Scraping time</h4>
                <p>16m:19s</p>
 
                <h4>Average</h4>
                <p>.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>In progress opportunities</h4>
                <p>.</p>
 
                <h4>Successful opportunities</h4>
                <p>.</p>
 
                <h4>Deleted entries</h4>
                <p>Sono state cancellati 1000 records da aste o nuove costruzioni
                    Sono state cancellati 75 records con price zero
                    Sono state cancellati 2 records con mq zero.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Immobiliare Crawler</p>
        </footer>
 
    </div>
</body>
 
</html>